/* core content */

@font-face {
    font-family: 'Sweden-Sans';
    src: url('fonts/SwedenSans/SwedenSans_webfonts/swedensans-webfont.eot');
    src: url('fonts/SwedenSans/SwedenSans_webfonts/swedensans-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/SwedenSans/SwedenSans_webfonts/swedensans-webfont.woff') format('woff'),
        url('fonts/SwedenSans/SwedenSans_webfonts/swedensans-webfont.ttf') format('truetype'),
        url('fonts/SwedenSans/SwedenSans_webfonts/swedensans-webfont.svg#On-AirInline') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sweden-Sans';
    src: url('fonts/SwedenSans/SwedenSansBold_webfonts/swedensansbold-webfont.eot');
    src: url('fonts/SwedenSans/SwedenSansBold_webfonts/swedensansbold-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/SwedenSans/SwedenSansBold_webfonts/swedensansbold-webfont.woff') format('woff'),
        url('fonts/SwedenSans/SwedenSansBold_webfonts/swedensansbold-webfont.ttf') format('truetype'),
        url('fonts/SwedenSans/SwedenSansBold_webfonts/swedensansbold-webfont.svg#On-AirInline') format('svg');
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Sweden-Sans';
    color: #5D3B9E;
    background-color: #FFFFFA;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

/*hiding scrollbar*/
body::-webkit-scrollbar {
    display: none;
}

/* grid content */

.grid {
    position: absolute;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 2.5% repeat(9, 1fr) 2.5%;
    grid-template-rows: 5% 5% auto 10% 5%;
    grid-column-gap: 25px;
}

#home {
    grid-column: 2 / 5;
    grid-row: 2;
    align-items: start;
    z-index: 100;
}

#menu {
    grid-column: 10;
    grid-row: 2;
}

#avatar {
    grid-column: 2;
    grid-row: 4;
    align-self: end;
    z-index: 100;
}

.character {
    width: 35px;
    align-self: end;
}

#exp-bar {
    grid-column: 3 / 10;
    grid-row: 4;
    align-self: end;
    height: 25%;
    padding: 5px;
    background-clip: content-box;
    border: 2.5px solid #5D3B9E;
    background-color: #ffd800;
}

#wrapper {
    grid-column: 3 / 10;
    grid-row: 1 / span 4;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -5%;
}

/* nodes */

#hexes svg{
    margin: 0 auto;
    display: block;
}

/* links */

a{
    text-decoration: none;
    color: #5D3B9E;
    cursor: pointer;
}

.link{
    position: relative;
}

.link:after{
    content: '';
    position: absolute;
    width: 0; height: 3.5px;
    display: block;
    margin-top: 2px;
    right: 0;
    background: #ffd800;
    transition: width .35s ease-in-out;
    -webkit-transition: width .35s ease-in-out;
}
   
.link:hover:after{
    width: 100%;
    left: 0;
    background: #ffd800;
}

h1 {
    margin-top: 0;
}
