/* core content */

@font-face {
    font-family: 'Sweden-Sans';
    src: url('fonts/SwedenSans/SwedenSans_webfonts/swedensans-webfont.eot');
    src: url('fonts/SwedenSans/SwedenSans_webfonts/swedensans-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/SwedenSans/SwedenSans_webfonts/swedensans-webfont.woff') format('woff'),
        url('fonts/SwedenSans/SwedenSans_webfonts/swedensans-webfont.ttf') format('truetype'),
        url('fonts/SwedenSans/SwedenSans_webfonts/swedensans-webfont.svg#On-AirInline') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sweden-Sans';
    src: url('fonts/SwedenSans/SwedenSansBold_webfonts/swedensansbold-webfont.eot');
    src: url('fonts/SwedenSans/SwedenSansBold_webfonts/swedensansbold-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/SwedenSans/SwedenSansBold_webfonts/swedensansbold-webfont.woff') format('woff'),
        url('fonts/SwedenSans/SwedenSansBold_webfonts/swedensansbold-webfont.ttf') format('truetype'),
        url('fonts/SwedenSans/SwedenSansBold_webfonts/swedensansbold-webfont.svg#On-AirInline') format('svg');
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Sweden-Sans', sans-serif;
    color: #5D3B9E;
    background-color: #FFFFFA;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

/*hiding scrollbar*/
body::-webkit-scrollbar {
    display: none;
}

.slide {
    width: 100vw;
    height: 100vh;
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    width: 400vw;
    transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  }
  .one {
    background: #efdefe;
  }
  .two {
    background: #a3f3d3;
  }
  .three {
    background: #0bbaa0;
  }
  .four {
    background: #00dfdf;
  }

  .outer-wrapper {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
  -ms-overflow-style: none;
  }

  